body {
  margin: 0;
  background-color: white;
  font-family: Abel;
}

/*Titel*/
.hero-image {
  background-image: url("../img/Bridge.jpg");
  background-color: #cccccc;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-shadow: 5px 5px 8px #888888;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 70%;
  left: 40px;
  color: white;
  float: left;
}

.logo {
  height: 50px;
  width: auto;
  float: left;
}

/*Taskbaar*/

.topnav {
  overflow: hidden;
  background-color: white;
  height: 50px;
}

.topnav a {
  float: right;
  color: #6A5F3B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ddd;
  color: #6A5F3B;
}

.topnav a.active {
  background-color: #ddd;
  color: #6A5F3B;
}

.firstBox {
  background-color: white;
  margin: 80px auto 100px;
  width: 1000px;
  height: 1300px;
  padding: 40px 100px;
  border-radius: 100px;
  box-sizing: border-box;
  box-shadow: 5px 5px 8px 2px #888888;
}
.firstBox p {
  color: #1C3B65;
}

h1 {
  color: #1C3B65;
  font-size: 40px;
}

h2 {
  margin-top: 100px;
  color: #1C3B65;
  font-size: 40px;
}

.SubBildOne {
  width: 400px;
  height: auto;
  float: left;
  margin-right: 20px;
  border-radius: 20px;
}

.HarvyBild{
  float: left;
  width: auto;
  height: 400px;

}

.MikeBild{
  float: right;
  width: auto;
  height: 400px;
}


.button {
  margin-top: 40px; 
  margin-bottom: 20px;
  height: 20px;
  width: 150px;
  border-radius: 20px;
  border: 5px;
  font-weight: bold;
}
.button a {
  text-decoration: none;
  font-size: 17px;
  padding: 5px;
  color: #1C3B65;
}

.footer {
  position: relative;
  height: 30px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: right;
}

.footer p {
  padding-right: 10px;
  padding-top: 3px;
  font-size: 15px;
  text-align: right;
}