body {
  margin: 0;
  background-color: #ddd;
  font-family: Playfair Display;
}

/*Titel*/
.hero-image {
  background-image: url("../img/water.jpg");
  background-color: #cccccc;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 70%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Playfair Display;
  float: left;
}

.logo {
  height: 55px;
  width: auto;
  float: left;
}

/*Taskbaar*/

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #ddd;
  color: black;
}

/*Erste Einheit*/
.firstBox {
  max-width: 800px;
  margin: 100px auto 100px;
  height: 250px;
  text-align: left;
  position: relative;
  color: #1C3B65;
  
}

.firstBox p {
  font-size:20px;
  font-family: Playfair Display;

}

.SubBild {
  float: right;
  width: auto;
  height: 250px;
  border-radius: 5%;
}

.secondBox {
  background-image: url("../img/Langlauf.jpg");
  background-color: #cccccc;
  height: 600px;
  width: 80%;
  margin: 0px auto 300px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5%;

}

.secondBox-text {
  /*text-align: right;
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Playfair Display; */
  
  position: relative;
  padding-top: 10%;
  padding-left: 55%;
  padding-right: 1%;
  width: 400px;
  color: white;
  overflow: hidden;
  float: right;
}





.thirdBox {
  background-color: beige;
  height: 400px;
  width: 80%;
  margin: 100px auto 100px;
  position: relative;
}

/*Fusszeile*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: right;
}

.footer p {
  padding-right: 10px;
  font-size: 10px;
}